.card{
    max-width: 600px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px;
}

h1{
    color: blue;
}

img{
    width: 100px;
    height: 100px;
}